body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  margin-bottom: 0.0rem;
}
.row .row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
[class*="col-"] {
  padding: 0.25rem;
  background-color: #eeeeee;
  border-color: #dddddd;
  border: 0.2px solid gray ;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
